.MoreBlogByAuthor {
   padding: 280px 0 370px;
}

.container {
   display: flex;
   flex-wrap: wrap;
}

//
.blogPosts {
   width: 100%;
   margin-bottom: 110px;
   overflow: hidden;

   // tablet
   @media (max-width: 990px) {
      width: 100%;
   }
}

.paragraph {
   width: 83%;
   padding: 0 21px 1.1rem;
   margin: 25px auto 50px;

   font-size: 24px;
   font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
   line-height: 37px;
   text-align: center;
   color: #fff;

   // background: #000;
}

.signature {
   width: 100%;
   text-align: center;
   margin-bottom: 23px;
   // background: #ccc;
}
