.Greeting {
   margin: -162px 0 -200px;

   &.podcast {
      margin: -162px 0 -127px;
   }
}

.container {
   position: relative;
   z-index: 1;

   padding: 98px 70px 70px;
   background: #fff;
   box-shadow: 0px 0px 80px 0 rgba(93, 232, 248, 0.3);

   &.podcast {
      padding: 80px 100px;

      // pc
      @media (max-width: 1200px) {
         padding: 30px 21px 80px;
      }
   }

   // mobile large
   @media (max-width: 768px) {
      padding: 49px 21px 70px;
   }
}

.title {
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 153px;
   margin-bottom: 55px;
   text-align: center;
   color: var(--secondary);
   // background-color: aqua;

   & > h1 {
      position: relative;
      font-size: 36px;
      font-weight: 200;
      letter-spacing: 0.05em;
      color: var(--secondary);
      z-index: 1;

      // pc
      @media (max-width: 1200px) {
         // margin-bottom: 30px;
      }

      // mobile large
      @media (max-width: 768px) {
         // font-size: 80px;
      }
   }

   & > .textBackground {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);

      // mobile medium
      @media (max-width: 548px) {
         left: 0;
         transform: translate(0, -50%);
      }

      font-size: 204px;
      font-weight: 300;
      font-family: 'Maulidah Script', sans-serif;
      color: #f0f3f2;
   }
}

.paragraph {
   font-size: 24px;
   font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
   color: #5f727f;
   line-height: 37px;
   text-align: center;
   margin-bottom: 1.1rem;
   z-index: 1;
   // background: beige;
}

.image {
   width: 100%;
   overflow: hidden;
   margin-top: 80px;

   & > img {
      display: block;
      width: 100%;
      object-fit: cover;
   }
}

.checkList {
   display: flex;
   margin: 90px -21px 0;
   // background: beige;

   & > .separatedCheckList {
      width: 50%;
      padding: 0 21px 24px;
      // background: black;

      & > .checkItem {
         display: flex;
         align-items: center;
         margin-bottom: 12px;
         color: #fff;

         & > .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: var(--primary);
            margin-right: 4px;
            // background: blue;
         }

         & > span {
            font-size: 16px;
            font-weight: 400;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 25px;
            color: var(--light-gray);
         }
      }
   }
}
