.BlogGallery {
   overflow: hidden;
}

.container {
   // display: flex;
   // flex-wrap: wrap;
   width: 100%;

   display: grid;
   grid-template-areas:
      'myArea myArea . .'
      'myArea myArea . .';
   grid-auto-flow: dense;

   // pc
   @media (max-width: 1200px) {
      grid-template-areas:
         'myArea myArea .'
         'myArea myArea .';
   }

   // mobile extra-large
   @media (max-width: 830px) {
      grid-template-areas:
         'myArea myArea'
         'myArea myArea';
   }

   // mobile extra-large
   @media (max-width: 830px) {
      grid-template-areas: 'myArea';
   }
}
