.BlogGallery {
   height: 500vh;
   overflow: hidden;
}

.container {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.row {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.col {
   display: flex;
   flex-wrap: wrap;
   width: 50%;

   // // pc
   // @media (max-width: 1200px) {
   //    &.col1 {
   //       width: calc(2 * 100% / 3);
   //    }
   //    &.col2 {
   //       width: calc(100% / 3);
   //    }
   // }
}
