.Footer {
   padding: 110px 0 45px;
   background: var(--secondary);
}

.container {
   position: relative;
   width: 100%;
   height: 500px;
   // background: #eee;
}

.item {
   position: absolute;

   width: 25%;
   padding: 0 21px;
   overflow: hidden;
   margin-bottom: 42px;
   transition: 0.5s ease-in-out;

   opacity: 0; // for appear

   // tablet
   @media (max-width: 980px) {
      width: 50%;
   }

   // mobile large
   @media (max-width: 768px) {
      position: unset;
      width: 100%;
   }
}

.item1 {
   // background: aquamarine;

   & > .logo {
      height: 66px;
      // background: #000;
      margin: 27px 0 48px;

      & > img {
         height: 100%;
      }
   }
}

.title {
   font-size: 19px;
   font-weight: 700;
   line-height: 34px;
   color: #fff;

   margin: 22px 0 40px;
   // background: cyan;
}

.desc {
   font-size: 16px;
   font-family: 'Source Sans Pro', sans-serif;
   line-height: 25px;
   color: var(--light-gray);
   margin-bottom: 1.1rem;
   // background: azure;
}

.item2 {
   // background: blue;

   & > .features {
      & > li {
         position: relative;
         padding: 8px 0 8px 13px;
         border-bottom: 1px solid #393d50;

         font-size: 16px;
         font-family: 'Source Sans Pro', sans-serif;
         line-height: 25px;
         color: var(--light-gray);
         // background: aquamarine;

         &::before {
            content: '';
            position: absolute;

            top: 50%;
            left: 0;
            transform: translateY(-50%);

            width: 5px;
            height: 5px;
            background: var(--primary);
            border-radius: 50%;
         }
      }
   }
}

.item3 {
   // background: cyan;

   & > .tweetWrap {
      display: flex;
      flex-direction: column;
      // background: aquamarine;

      & > .tweetItem {
         padding: 27px 0 24px;

         &:nth-of-type(1) {
            padding: 14px 0 24px;
         }

         &:not(:last-child) {
            border-bottom: 1px solid #393d50;
         }

         & > .icon {
            display: flex;
            margin-bottom: 12px;
            // background: #eee;

            & > img {
               display: block;
               width: 25px;
            }

            & > span {
               font-size: 14px;
               font-weight: 300;
               font-family: 'Source Sans Pro', sans-serif;
               line-height: 25px;
               color: var(--primary);
               margin-left: 8px;
            }
         }

         & > .content {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 25px;
            color: var(--light-gray);
            // background: #000;

            & > .link {
               color: var(--primary);
               transition: var(--standard-duration) ease-in-out;

               &:hover {
                  color: inherit;
               }
            }
         }
      }
   }
}

.item4 {
   // background: violet;

   & > .recentCommentWrap {
      display: flex;
      flex-direction: column;

      & > .recentCommentItem {
         padding: 14px 20px 20px;
         border-top-left-radius: 50px;
         border-top-right-radius: 50px;
         border-bottom-right-radius: 50px;
         background: var(--dark);
         margin-bottom: 24px;

         & > .icon {
            height: 32px;
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: var(--light-gray);
            // background: beige;
         }

         & > .authorLink {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            color: var(--light-gray);
            line-height: 25px;

            & > span {
               font-size: 14px;
               color: var(--primary);
            }

            & > .link {
               transition: var(--standard-duration) ease-in-out;
               &:hover {
                  color: var(--primary);
               }
            }
         }
      }
   }
}

.item5 {
   // background: coral;

   & > .inputWrap {
      display: flex;
      border-radius: 3px;
      overflow: hidden;
      height: 41px;
      margin: 40px 0 1.1rem;

      & > .input {
         width: 100%;
         height: 100%;
         background: var(--secondary);
         padding: 7px 21px;
         border: 0.8px solid var(--text);
         border-radius: 4px;

         font-size: 16px;
         font-weight: 300;
         font-family: 'Source Sans Pro', sans-serif;
         background: var(--dark);
         color: var(--light-gray);

         &::placeholder {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            color: var(--light-gray);
         }
      }

      & > .icon {
         flex-shrink: 0;
         display: flex;
         align-items: center;
         justify-content: center;

         height: 100%;
         width: 40px;
         color: var(--light-gray);
         background: #394050;
      }
   }

   & > .smallText {
      font-size: 14px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #5f727f;
      margin-bottom: 15px;
      line-height: 23px;

      // background: bisque;
   }
}

.item6 {
   // background: bisque;

   & > .tagWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      & > .tagItem {
         height: 30px;
         padding: 2px 10px;

         font-size: 16px;
         font-family: 'Source Sans Pro', sans-serif;
         color: var(--light-gray);
         border: 1px solid var(--light-gray);
      }
   }
}
