:root {
   --primary: #00bcd4;
   --secondary: #24262e;
   --text: #3c3950;
   --light-gray: #99a9b5;
   --dark: #1a1c21;

   --standard-duration: 0.2s;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   overflow-y: overlay;
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

button,
input,
textarea {
   border: none;
   outline: none;
   cursor: pointer;
   background: none;
}

ul {
   list-style: none;
}

.container {
   max-width: 1212px;
   width: 100%;
   margin: 0 auto;
}

.no-scrollbar {
   height: 100vh;
   overflow: hidden;
   margin-right: 16.8px;
}

// ::-webkit-scrollbar {
//    display: none;
// }
