:root {
   --primary: #00bcd4;
   --secondary: #24262e;
   --text: #3c3950;
   --light-gray: #99a9b5;
   --dark: #1a1c21;

   --standard-duration: 0.2s;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   overflow-y: overlay;
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

button,
input,
textarea {
   border: none;
   outline: none;
   cursor: pointer;
   background: none;
}

ul {
   list-style: none;
}

.container {
   max-width: 1212px;
   width: 100%;
   margin: 0 auto;
}

.button {
   display: inline-flex;
   align-items: center;
   height: 50px;
   padding: 0 25px;
   border: 1px solid #fff;
   border-radius: 24px;

   font-size: 19px;
   font-family: 'Montserrat', sans-serif;

   text-transform: uppercase;
   color: #fff;
   transition: var(--standard-duration) ease-in-out;

   &:hover {
      color: #000;
      background: #fff;
   }
}

.no-scrollbar {
   height: 100vh;
   overflow: hidden;
   margin-right: 16.8px;
}

// ::-webkit-scrollbar {
//    display: none;
// }

.floatUp {
   opacity: 0;
   animation: floatUp 0.6s ease-in-out 0.2s forwards;
}

@keyframes floatUp {
   from {
      opacity: 0;
      transform: translateY(30px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.floatLeft {
   opacity: 0;
   animation: floatLeft 0.6s ease-in-out 0.2s forwards;
}

@keyframes floatLeft {
   from {
      opacity: 0;
      transform: translateX(30px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

.zoomOut {
   opacity: 0;
   animation: zoomOut 0.6s ease-in-out 0.2s forwards;
}

@keyframes zoomOut {
   from {
      opacity: 0;
      transform: scale(0);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

.fadeIn {
   opacity: 0;
   animation: fadeIn 0.6s ease-in-out 0.2s forwards;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
