.Vision {
   overflow: hidden;
   padding: 0 0 160px;
}

.title {
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 300px;
   text-align: center;
   color: var(--secondary);
   // background-color: aqua;
   margin-top: 100px;

   & > h1 {
      position: relative;
      max-width: 808px;

      font-size: 24px;
      font-weight: 300;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 34px;
      letter-spacing: 0.05em;
      color: #5f727f;
      z-index: 1;

      // pc
      @media (max-width: 1200px) {
         // margin-bottom: 30px;
      }

      // mobile large
      @media (max-width: 768px) {
         // font-size: 80px;
      }
   }

   & > .textBackground {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // mobile medium
      @media (max-width: 548px) {
         left: 0;
         transform: translate(0, -50%);
      }

      font-size: 408px;
      font-weight: 300;
      font-family: 'Maulidah Script', sans-serif;
      color: #fff;
   }
}

.container {
   display: flex;
   flex-wrap: wrap;
   // background: #eee;
}

.textBoxItem {
   width: calc(100% / 3);
   padding: 0 21px;
   margin-bottom: 42px;
   // background-color: aquamarine;

   // tablet
   @media (max-width: 990px) {
      width: 50%;
   }

   // mobile large
   @media (max-width: 768px) {
      width: 100%;
   }

   & > .textBoxBody {
      text-align: center;
      padding: 65px 45px;
      background: #fff;

      & > .textBoxTitle {
         font-size: 19px;
         font-weight: 700;
         line-height: 30px;
         color: var(--secondary);
         margin-bottom: 30px;
      }

      & > .textBoxContent {
         font-size: 16px;
         font-family: 'Source Sans Pro', sans-serif;
         line-height: 25px;
         color: #b6c6c9;
      }
   }
}
